@import '../styles/media-queries.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
  grid-column: span 3;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: calc(5 / 4 * 100%);
  background: #eee;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #000000;
  margin-top: 3px;
  margin-bottom: 3px;

  @media (--media-min-small) {
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
  }
}

.articleDetails {
  padding: 30px;
}

.excerpt {
  @nest & p {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    color: #000000;

    @media (--media-min-small) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  @nest & strong {
    font-weight: 600;
  }
}

.categories {
  list-style: none;
  padding: 0;

  @nest & li {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: 1.3125px;
    text-transform: uppercase;
    color: #6B6B6B;
    display: inline;
  }

  @media (--media-min-small) {
    font-size: 12px;
    line-height: 24px;
  }

  @nest & :not(:last-child)::after {
    content: ', ';
  }
}