@import '../styles/media-queries.css';

.root {
  @nest & .h5 {
    font-size: var(--font-base-size);
    letter-spacing: 1px;
    line-height: var(--font-small-line-height);

    margin-top: 25px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.5px;

    @media (--media-min-small) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (--media-max-small) {
      padding-right: 2rem; 
    }
  }

  @nest & p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 70px;

    @media (--media-min-small) {
      font-size: 16px;
      line-height: 28px;
    }

    @media (--media-max-small) {
      padding-right: 2rem; 
    }
  }
}

.wrapper {
  margin-bottom: 3em;

  composes: wrapper from './layout.module.css';

  @media (--media-min-small) {
    max-width: 90%;
    grid-template-columns: repeat(12, 1fr);
  }

  @media (--media-min-xlarge) {
    max-width: 1176px;
    padding: 3em 0;
    margin-bottom: 6em;
  }

  @nest & div {
    &:nth-child(1) {
      align-self: center;

      @media (--media-min-medium) {
        grid-column-start: 1;
        grid-column-end: 6;
      }

      @media (--media-min-xlarge) {
        grid-column-start: 3;
        grid-column-end: 6;
      }
    }

    &:nth-child(2) {
      position: relative;
      padding-bottom: calc(5 / 4 * 100%);
      grid-row-start: 1;

      @media (--media-min-medium) {
        grid-column-start: 7;
        grid-column-end: 13;
      }

      @media (--media-min-xlarge) {
        grid-column-start: 7;
        grid-column-end: 11;
      }

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}