@import '../styles/media-queries.css';
@import './typography.module.css';

.root {
  background-color: #F9F9F9;

  @media (--media-min-small) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media (--media-max-small) {
    padding-bottom: 50px;
  }

  @nest & .h5 {
    font-size: var(--font-base-size);
    letter-spacing: 1px;
    line-height: var(--font-small-line-height);
    margin-top: 25px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.5px;

    @media (--media-min-small) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @nest & p {
    margin-top: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    
    @media (--media-min-small) {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.wrapper {
  composes: wrapper from './layout.module.css';
  
  @media (--media-min-small) {
    padding: 0;
    
    @nest & div {
      &:nth-child(1) {
        grid-column-start: 3;
        grid-column-end: 6;
      }
  
      &:nth-child(2) {
        grid-column-start: 6;
        grid-column-end: 9;
      }
  
      &:nth-child(3) {
        grid-column-start: 9;
        grid-column-end: 12;
      }
    }
  }
}

.number {
  display: inline-flex;
  border: 1px solid #979797;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.6;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #6B6B6B;

  @media (--media-min-small) {
    height: 48px;
    width: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}